DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/NOME_DO_BANCO"
JWT_SECRET="SUA_CHAVE_JWT_AQUI"
PORT=3333
RESEND_API_KEY="SUA_CHAVE_RESEND_AQUI"
EMAIL_FROM="seu-dominio-validado@seudominio.com"
FRONTEND_URL="http://localhost:5173"
